In [2]:
import pandas as pd
import numpy as np
import os

#dataset_dir = os.path.join('dataset')
train_dir = os.path.join("/kaggle/input/ristek-datathon-2023/train.csv")
test_dir = os.path.join("/kaggle/input/ristek-datathon-2023/test.csv")

train_data = pd.read_csv(train_dir, parse_dates=['waktu_setempat'])
test_data = pd.read_csv(test_dir, parse_dates=['waktu_setempat'])

# Loading the Provided Competition Data
### Memuat Data yang disediakan dari Kompetisi

In [18]:
#cek tipe data untuk tiap kolom

train_data.info()

#column name translation
#waktu_setempat : local_time(local time when the datapoint is recorded)
#id_jalan : street_id(the street id where the data is recorded)
#id_titik_mulai : starting_point_id(unique id of data recording starting point)
#id_titik_akhir : end_point_id(unique id of data recording endpoint)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398648 entries, 0 to 398647
Data columns (total 5 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   waktu_setempat    398648 non-null  datetime64[ns, UTC]
 1   id_jalan          398648 non-null  int64
 2   id_titik_mulai    398648 non-null  int64
 3   id_titik_akhir    398648 non-null  int64
 4   rerata_kecepatan  398648 non-null  float64
dtypes: datetime64[ns, UTC](1), float64(1), int64(3)
memory usage: 15.2 MB

In [3]:
#Cek head dari data
#Check the head of the data

train_data.head()

,waktu_setempat,id_jalan,id_titik_mulai,id_titik_akhir,rerata_kecepatan
0,2020-02-01 01:00:00+00:00,691007296,21390008,1425033102,29.126
1,2020-02-01 01:00:00+00:00,47010584,1677092762,579493410,46.576
2,2020-02-01 01:00:00+00:00,22932408,26486694,1930267566,36.587
3,2020-02-01 01:00:00+00:00,142479648,1111592522,3775231113,34.063
4,2020-02-01 01:00:00+00:00,8504977,5940503398,5940503394,38.336

In [4]:
#cek tail dari data
#Check the tail of the data

train_data.tail()

,waktu_setempat,id_jalan,id_titik_mulai,id_titik_akhir,rerata_kecepatan
398643,2020-02-22 23:00:00+00:00,3691841,18235127,1590448416,41.094
398644,2020-02-22 23:00:00+00:00,3691841,1250564256,18293380,45.902
398645,2020-02-22 23:00:00+00:00,182210371,33139383,33139375,38.918
398646,2020-02-22 23:00:00+00:00,8504977,1623682036,26467191,34.951
398647,2020-02-22 23:00:00+00:00,150783571,290025573,873734149,40.949

In [53]:
#cek karakteristik statistik dari data
#check the statistical characteristics of the data

train_data.describe()

           id_jalan  id_titik_mulai  id_titik_akhir  rerata_kecepatan
count  3.986480e+05    3.986480e+05    3.986480e+05     398648.000000
mean   8.017984e+07    1.188156e+09    1.188553e+09         35.686922
std    1.561702e+08    1.799954e+09    1.800382e+09          8.144860
min    1.210000e+03    1.018310e+05    1.018310e+05          1.002000
25%    4.060819e+06    2.648063e+07    2.648063e+07         31.461000
50%    2.470429e+07    2.673375e+08    2.673375e+08         36.531500
75%    6.692459e+07    1.590448e+09    1.590448e+09         41.231000
max    6.910073e+08    6.454027e+09    6.454027e+09         60.394000

In [54]:
#cek cell yang kosong pada data
#check for empty cells in the data

train_data.isna().sum()
#tidak ada cell yang kosong/na pada data
#no empty cells in the data

waktu_setempat      0
id_jalan            0
id_titik_mulai      0
id_titik_akhir      0
rerata_kecepatan    0
dtype: int64

In [55]:
#cek data yang ganda pada data
#Check for duplicates in the data

train_data.duplicated().sum()
#tidak ada data ganda pada data
#No duplicates in the data

0

In [8]:
#cek jumlah jalan yang ada pada data
# check the number of streets in the data

jalanan = list(pd.unique(train_data['id_jalan']))
print(jalanan,"\n")
print(f'ada {len(jalanan)} jalan yang berbeda pada data')

[691007296, 47010584, 22932408, 142479648, 8504977, 50841260, 4060819, 24704286, 4061596, 4004732, 3688059, 66924592, 3691841, 97453767, 4898588, 26785612, 182210371, 150783571, 40044423, 1210]

ada 20 jalan yang berbeda pada data

In [9]:
#cek jumlah titik data pada masing-masing jalan
#check the number of data points on each street

for jalan in jalanan:
  jml = len(train_data[train_data['id_jalan'] == jalan])
  print(f'ada {jml} data untuk jalan {jalan}')
    
#translation
#ada xx data untuk jalan yyy
# there are xx datapoints for street yyy

ada 21847 data untuk jalan 691007296
ada 18186 data untuk jalan 47010584
ada 18225 data untuk jalan 22932408
ada 20836 data untuk jalan 142479648
ada 18978 data untuk jalan 8504977
ada 23187 data untuk jalan 50841260
ada 19979 data untuk jalan 4060819
ada 18655 data untuk jalan 24704286
ada 25467 data untuk jalan 4061596
ada 19592 data untuk jalan 4004732
ada 18186 data untuk jalan 3688059
ada 19813 data untuk jalan 66924592
ada 24280 data untuk jalan 3691841
ada 17270 data untuk jalan 97453767
ada 17819 data untuk jalan 4898588
ada 22854 data untuk jalan 26785612
ada 18534 data untuk jalan 182210371
ada 17297 data untuk jalan 150783571
ada 17755 data untuk jalan 40044423
ada 19888 data untuk jalan 1210

In [10]:
#Ambil contoh data pada salah 1 jalan 
#Take sample data on one of the street

jalan_691007296 = train_data[train_data['id_jalan'] == 691007296]
jalan_691007296

,waktu_setempat,id_jalan,id_titik_mulai,id_titik_akhir,rerata_kecepatan
0,2020-02-01 01:00:00+00:00,691007296,21390008,1425033102,29.126
7,2020-02-01 01:00:00+00:00,691007296,43405913,27242603,36.128
39,2020-02-01 01:00:00+00:00,691007296,43406731,21390004,39.264
47,2020-02-01 01:00:00+00:00,691007296,43405338,27242603,37.602
74,2020-02-01 01:00:00+00:00,691007296,43405913,36712191,38.058
...,...,...,...,...,...
398600,2020-02-22 23:00:00+00:00,691007296,36712174,21315191,28.236
398611,2020-02-22 23:00:00+00:00,691007296,21390008,26399229,22.931
398619,2020-02-22 23:00:00+00:00,691007296,21390007,26399229,20.096
398624,2020-02-22 23:00:00+00:00,691007296,1425033102,26399228,17.665
398637,2020-02-22 23:00:00+00:00,691007296,1425033227,1425033406,26.663

In [11]:
#tambah kolom rute dari titik awal ke titik akhir
#add 'rute'(route) column from starting point to ending point 

jalan_691007296['rute'] = jalan_691007296['id_titik_mulai'].astype(str) + '-' + jalan_691007296['id_titik_akhir'].astype(str)
jalan_691007296

/tmp/ipykernel_33/25651689.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  jalan_691007296['rute'] = jalan_691007296['id_titik_mulai'].astype(str) + '-' + jalan_691007296['id_titik_akhir'].astype(str)

,waktu_setempat,id_jalan,id_titik_mulai,id_titik_akhir,rerata_kecepatan,rute
0,2020-02-01 01:00:00+00:00,691007296,21390008,1425033102,29.126,21390008-1425033102
7,2020-02-01 01:00:00+00:00,691007296,43405913,27242603,36.128,43405913-27242603
39,2020-02-01 01:00:00+00:00,691007296,43406731,21390004,39.264,43406731-21390004
47,2020-02-01 01:00:00+00:00,691007296,43405338,27242603,37.602,43405338-27242603
74,2020-02-01 01:00:00+00:00,691007296,43405913,36712191,38.058,43405913-36712191
...,...,...,...,...,...,...
398600,2020-02-22 23:00:00+00:00,691007296,36712174,21315191,28.236,36712174-21315191
398611,2020-02-22 23:00:00+00:00,691007296,21390008,26399229,22.931,21390008-26399229
398619,2020-02-22 23:00:00+00:00,691007296,21390007,26399229,20.096,21390007-26399229
398624,2020-02-22 23:00:00+00:00,691007296,1425033102,26399228,17.665,1425033102-26399228
398637,2020-02-22 23:00:00+00:00,691007296,1425033227,1425033406,26.663,1425033227-1425033406

In [63]:
jalan_691007296.head(25)

,waktu_setempat,id_jalan,id_titik_mulai,id_titik_akhir,rerata_kecepatan,rute
0,2020-02-01 01:00:00+00:00,691007296,21390008,1425033102,29.126,21390008-1425033102
7,2020-02-01 01:00:00+00:00,691007296,43405913,27242603,36.128,43405913-27242603
39,2020-02-01 01:00:00+00:00,691007296,43406731,21390004,39.264,43406731-21390004
47,2020-02-01 01:00:00+00:00,691007296,43405338,27242603,37.602,43405338-27242603
74,2020-02-01 01:00:00+00:00,691007296,43405913,36712191,38.058,43405913-36712191
94,2020-02-01 01:00:00+00:00,691007296,1425033960,43405071,39.079,1425033960-43405071
142,2020-02-01 01:00:00+00:00,691007296,27242603,43405913,37.889,27242603-43405913
143,2020-02-01 01:00:00+00:00,691007296,21315191,43399892,33.882,21315191-43399892
189,2020-02-01 01:00:00+00:00,691007296,43405071,1425033960,38.431,43405071-1425033960
195,2020-02-01 01:00:00+00:00,691007296,26399229,21390008,29.456,26399229-21390008
239,2020-02-01 01:00:00+00:00,691007296,36712146,21390004,36.917,36712146-21390004
251,2020-02-01 01:00:00+00:00,691007296,36712174,21315191,35.182,36712174-21315191
263,2020-02-01 01:00:00+00:00,691007296,1425033609,1425033406,35.515,1425033609-1425033406
272,2020-02-01 01:00:00+00:00,691007296,43399892,21315191,32.545,43399892-21315191
313,2020-02-01 01:00:00+00:00,691007296,43405071,1425033227,38.445,43405071-1425033227
320,2020-02-01 01:00:00+00:00,691007296,21390004,43406731,37.375,21390004-43406731
327,2020-02-01 01:00:00+00:00,691007296,43412859,43412521,25.516,43412859-43412521
337,2020-02-01 01:00:00+00:00,691007296,36712146,36712174,38.462,36712146-36712174
344,2020-02-01 01:00:00+00:00,691007296,36712191,43406731,39.213,36712191-43406731
364,2020-02-01 01:00:00+00:00,691007296,43412521,43412859,13.144,43412521-43412859
366,2020-02-01 01:00:00+00:00,691007296,1425033609,43410285,28.182,1425033609-43410285
379,2020-02-01 01:00:00+00:00,691007296,1425033406,1425033227,36.679,1425033406-1425033227
401,2020-02-01 01:00:00+00:00,691007296,21279528,43412859,24.647,21279528-43412859
402,2020-02-01 01:00:00+00:00,691007296,1425033227,43405071,37.548,1425033227-43405071
412,2020-02-01 01:00:00+00:00,691007296,1425033960,43405338,38.375,1425033960-43405338

In [12]:
min_id = np.min(jalan_691007296['id_titik_mulai'])
print(f'titik mulai dengan ID paling kecil di jalan 691007296 adalah {min_id}')

#starting point with the smallest ID in the street 691007296 is 21279528

titik mulai dengan ID paling kecil di jalan 691007296 adalah 21279528

In [13]:
max_id = np.max(jalan_691007296['id_titik_akhir'])
print(f'titik akhir dengan ID paling besar di jalan 691007296 adalah {max_id}')

the endpoint with the largest ID in the street 691007296 is 1425033960

titik akhir dengan ID paling besar di jalan 691007296 adalah 1425033960

In [14]:
jml_titik_awal = len(pd.unique(jalan_691007296['id_titik_mulai']))
print(f'ada {jml_titik_awal} titik awal berbeda yang digunakan untuk mengambil data pada jalan 691007296')

# there are 24 different starting points used to fetch data on street 691007296

ada 24 titik awal berbeda yang digunakan untuk mengambil data pada jalan 691007296

In [15]:
jml_titik_akhir = len(pd.unique(jalan_691007296['id_titik_akhir']))
print(f'ada {jml_titik_akhir} titik akhir berbeda yang digunakan untuk mengambil data pada jalan 691007296')

# there are 24 different endpoints used to fetch data on street 691007296

ada 24 titik akhir berbeda yang digunakan untuk mengambil data pada jalan 691007296

In [16]:
jml_rute = len(pd.unique(jalan_691007296['rute']))
print(f'ada {jml_rute} rute berbeda yang digunakan untuk mengambil data pada jalan 691007296')

# there are 46 different routes used to fetch data on street 691007296

ada 46 rute berbeda yang digunakan untuk mengambil data pada jalan 691007296

In [69]:
jalan_691007296[jalan_691007296['rute'] == "21390008-1425033102"]

,waktu_setempat,id_jalan,id_titik_mulai,id_titik_akhir,rerata_kecepatan,rute
0,2020-02-01 01:00:00+00:00,691007296,21390008,1425033102,29.126,21390008-1425033102
922,2020-02-01 02:00:00+00:00,691007296,21390008,1425033102,34.772,21390008-1425033102
2356,2020-02-01 03:00:00+00:00,691007296,21390008,1425033102,34.161,21390008-1425033102
3433,2020-02-01 04:00:00+00:00,691007296,21390008,1425033102,39.383,21390008-1425033102
4098,2020-02-01 05:00:00+00:00,691007296,21390008,1425033102,42.153,21390008-1425033102
...,...,...,...,...,...,...
394303,2020-02-22 19:00:00+00:00,691007296,21390008,1425033102,17.887,21390008-1425033102
395694,2020-02-22 20:00:00+00:00,691007296,21390008,1425033102,17.601,21390008-1425033102
396733,2020-02-22 21:00:00+00:00,691007296,21390008,1425033102,14.216,21390008-1425033102
397121,2020-02-22 22:00:00+00:00,691007296,21390008,1425033102,18.384,21390008-1425033102
398175,2020-02-22 23:00:00+00:00,691007296,21390008,1425033102,19.331,21390008-1425033102

# Process and Prepare the Data to Suit the Need of the Model
### Mengolah dan Menyiapkan Data Sesuai Kebutuhan Model

In [21]:
#Tambah kolom rute, yakni gabungan dari titik awal dan titik akhir
#Add a 'rute'(route) column, which is a combination of the starting point and ending point


train_data_w_route = train_data
train_data_w_route['rute'] = train_data_w_route['id_titik_mulai'].astype(str) + '-' + train_data_w_route['id_titik_akhir'].astype(str)
jml_rute_unik = len(train_data_w_route['rute'].unique())

print(f'jumlah rute unik yang ada di dalam data training adalah {jml_rute_unik}')
train_data_w_route.info()

jumlah rute unik yang ada di dalam data training adalah 934
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398648 entries, 0 to 398647
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   waktu_setempat    398648 non-null  datetime64[ns, UTC]
 1   id_jalan          398648 non-null  int64
 2   id_titik_mulai    398648 non-null  int64
 3   id_titik_akhir    398648 non-null  int64
 4   rerata_kecepatan  398648 non-null  float64
 5   rute              398648 non-null  object
dtypes: datetime64[ns, UTC](1), float64(1), int64(3), object(1)
memory usage: 18.2+ MB

In [20]:
#Tambah kolom rute, yakni gabungan dari titik awal dan titik akhir

# test_data_w_route = test_data
# test_data_w_route['rute'] = test_data_w_route['id_titik_mulai'].astype(str) + '-' + test_data_w_route['id_titik_akhir'].astype(str)
# jml_rute_unik = len(test_data_w_route['rute'].unique())

print(f'jumlah rute unik yang ada di dalam data testing adalah {jml_rute_unik}')
# the number of unique routes in the testing data is 934

jumlah rute unik yang ada di dalam data testing adalah 934

In [24]:
#Ubah tipe data pada kolom id_jalan, id_titik_mulai dan id_titik_akhir untuk menghindari agregasi
#Change the data type in the id_jalan, id_titik_mulai and id_titik_akhir columns to avoid aggregation

train_data_w_route['id_jalan'] = train_data_w_route['id_jalan'].astype(str) 
train_data_w_route['id_titik_mulai'] = train_data_w_route['id_titik_mulai'].astype(str) 
train_data_w_route['id_titik_akhir'] = train_data_w_route['id_titik_akhir'].astype(str)
print(train_data_w_route.info())

test_data_w_route['id_jalan'] = test_data_w_route['id_jalan'].astype(str) 
test_data_w_route['id_titik_mulai'] = test_data_w_route['id_titik_mulai'].astype(str) 
test_data_w_route['id_titik_akhir'] = test_data_w_route['id_titik_akhir'].astype(str)
print(test_data_w_route.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398648 entries, 0 to 398647
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   waktu_setempat    398648 non-null  datetime64[ns, UTC]
 1   id_jalan          398648 non-null  object
 2   id_titik_mulai    398648 non-null  object
 3   id_titik_akhir    398648 non-null  object
 4   rerata_kecepatan  398648 non-null  float64
 5   rute              398648 non-null  object
dtypes: datetime64[ns, UTC](1), float64(1), object(4)
memory usage: 18.2+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 127489 entries, 0 to 127488
Data columns (total 6 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   id              127489 non-null  int64
 1   waktu_setempat  127489 non-null  datetime64[ns, UTC]
 2   id_jalan        127489 non-null  object
 3   id_titik_mulai  127489 non-null  object
 4   id_titik_akhir  127489 non-null  object
 5   rute            127489 non-null  object
dtypes: datetime64[ns, UTC](1), int64(1), object(4)
memory usage: 5.8+ MB
None

In [27]:
routes = pd.unique(train_data_w_route['rute'])
routes[:10]

array(['21390008-1425033102', '1677092762-579493410',
       '26486694-1930267566', '1111592522-3775231113',
       '5940503398-5940503394', '5224440152-5224440151',
       '21539432-227756', '43405913-27242603', '6343348893-5827426460',
       '1623681994-2378872'], dtype=object)

In [29]:
#mengelompokkan data berdasarkan rutenya dalam list, 
#tiap elemen list berisi 1 tabel khusus 1 rute 

# grouping data based on its route in the list,
#each list element contains 1 custom table for each route


#train_data
train_data_grouped = []
for route in routes:
     train_data_grouped.append(train_data_w_route[train_data_w_route['rute'] == route])


#contoh
print(train_data_grouped[0],"\n")

#test data
test_data_grouped = []
for route in routes:
     test_data_grouped.append(test_data_w_route[test_data_w_route['rute'] == route])


print(test_data_grouped[0],"\n")

                  waktu_setempat   id_jalan id_titik_mulai id_titik_akhir  \
0      2020-02-01 01:00:00+00:00  691007296       21390008     1425033102
922    2020-02-01 02:00:00+00:00  691007296       21390008     1425033102
2356   2020-02-01 03:00:00+00:00  691007296       21390008     1425033102
3433   2020-02-01 04:00:00+00:00  691007296       21390008     1425033102
4098   2020-02-01 05:00:00+00:00  691007296       21390008     1425033102
...                          ...        ...            ...            ...
394303 2020-02-22 19:00:00+00:00  691007296       21390008     1425033102
395694 2020-02-22 20:00:00+00:00  691007296       21390008     1425033102
396733 2020-02-22 21:00:00+00:00  691007296       21390008     1425033102
397121 2020-02-22 22:00:00+00:00  691007296       21390008     1425033102
398175 2020-02-22 23:00:00+00:00  691007296       21390008     1425033102

        rerata_kecepatan                 rute
0                 29.126  21390008-1425033102
922               34.772  21390008-1425033102
2356              34.161  21390008-1425033102
3433              39.383  21390008-1425033102
4098              42.153  21390008-1425033102
...                  ...                  ...
394303            17.887  21390008-1425033102
395694            17.601  21390008-1425033102
396733            14.216  21390008-1425033102
397121            18.384  21390008-1425033102
398175            19.331  21390008-1425033102

[470 rows x 6 columns]

            id            waktu_setempat   id_jalan id_titik_mulai  \
314        314 2020-02-23 00:00:00+00:00  691007296       21390008
1017      1017 2020-02-23 01:00:00+00:00  691007296       21390008
2120      2120 2020-02-23 02:00:00+00:00  691007296       21390008
3584      3584 2020-02-23 03:00:00+00:00  691007296       21390008
4390      4390 2020-02-23 04:00:00+00:00  691007296       21390008
...        ...                       ...        ...            ...
123329  123329 2020-02-29 19:00:00+00:00  691007296       21390008
124516  124516 2020-02-29 20:00:00+00:00  691007296       21390008
125222  125222 2020-02-29 21:00:00+00:00  691007296       21390008
125789  125789 2020-02-29 22:00:00+00:00  691007296       21390008
126571  126571 2020-02-29 23:00:00+00:00  691007296       21390008

       id_titik_akhir                 rute
314        1425033102  21390008-1425033102
1017       1425033102  21390008-1425033102
2120       1425033102  21390008-1425033102
3584       1425033102  21390008-1425033102
4390       1425033102  21390008-1425033102
...               ...                  ...
123329     1425033102  21390008-1425033102
124516     1425033102  21390008-1425033102
125222     1425033102  21390008-1425033102
125789     1425033102  21390008-1425033102
126571     1425033102  21390008-1425033102

[154 rows x 6 columns]

In [35]:
#Cek apakah data sudah tersedia semua dan lengkap
# Check if the data is complete

train_data_grouped[1][:10]

#tidak ada data pukul 5 pagi, 7 pagi, 8 pagi, dst
#missing data for 5am, 7am, 8am, etc

,waktu_setempat,id_jalan,id_titik_mulai,id_titik_akhir,rerata_kecepatan,rute
1,2020-02-01 01:00:00+00:00,47010584,1677092762,579493410,46.576,1677092762-579493410
1756,2020-02-01 02:00:00+00:00,47010584,1677092762,579493410,44.585,1677092762-579493410
2087,2020-02-01 03:00:00+00:00,47010584,1677092762,579493410,45.020,1677092762-579493410
2826,2020-02-01 04:00:00+00:00,47010584,1677092762,579493410,42.729,1677092762-579493410
4929,2020-02-01 06:00:00+00:00,47010584,1677092762,579493410,48.579,1677092762-579493410
7282,2020-02-01 09:00:00+00:00,47010584,1677092762,579493410,34.400,1677092762-579493410
7798,2020-02-01 10:00:00+00:00,47010584,1677092762,579493410,36.783,1677092762-579493410
9170,2020-02-01 11:00:00+00:00,47010584,1677092762,579493410,37.831,1677092762-579493410
11345,2020-02-01 14:00:00+00:00,47010584,1677092762,579493410,39.438,1677092762-579493410
15115,2020-02-01 18:00:00+00:00,47010584,1677092762,579493410,34.585,1677092762-579493410

In [36]:
#Cek apakah data sudah tersedia semua dan lengkap
# Check if the data is complete


test_data_grouped[1][:10]

#tidak ada data pukul 3 pagi, 4 pagi, 8 pagi, dst
#missing data for 3am, 4am, 8am, etc

,id,waktu_setempat,id_jalan,id_titik_mulai,id_titik_akhir,rute
858,858,2020-02-23 00:00:00+00:00,47010584,1677092762,579493410,1677092762-579493410
1080,1080,2020-02-23 01:00:00+00:00,47010584,1677092762,579493410,1677092762-579493410
2006,2006,2020-02-23 02:00:00+00:00,47010584,1677092762,579493410,1677092762-579493410
4637,4637,2020-02-23 05:00:00+00:00,47010584,1677092762,579493410,1677092762-579493410
6054,6054,2020-02-23 06:00:00+00:00,47010584,1677092762,579493410,1677092762-579493410
6146,6146,2020-02-23 07:00:00+00:00,47010584,1677092762,579493410,1677092762-579493410
8985,8985,2020-02-23 10:00:00+00:00,47010584,1677092762,579493410,1677092762-579493410
10133,10133,2020-02-23 11:00:00+00:00,47010584,1677092762,579493410,1677092762-579493410
11004,11004,2020-02-23 12:00:00+00:00,47010584,1677092762,579493410,1677092762-579493410
11081,11081,2020-02-23 13:00:00+00:00,47010584,1677092762,579493410,1677092762-579493410

In [ ]:
# Ternyata ada data yang tidak lengkap pada train_data dan test_data. 
# Semestinya data diambil dan direkam tiap 1 jam, 
# nyatanya ada beberapa "jam" yang tidak ada di dalam data 

# It turns out that there is incomplete data in train_data and test_data.
# Data should be taken and recorded every 1 hour,
# in fact there are some "hour" that are not in the data

In [39]:
#Melengkapi data yang tidak ada
# Completing missing data

# membuat list timestamps untuk mengisi data tanggal-jam yang kosong
# create a list of timestamps to fill in the empty date-time data

start_date = pd.Timestamp('2020-02-01 00:00:00+00:00')
end_date = pd.Timestamp('2020-02-22 23:00:00+00:00')
time_interval = pd.DateOffset(hours=1)
timestamps = pd.date_range(start=start_date, end=end_date, freq=time_interval)

# mengubah timestamps yang sudah dibuat menjadi DataFrame
# change the created timestamps to DataFrame
generated_data = pd.DataFrame({'waktu_setempat': timestamps})

#ini data timestamp yang sudah dibuat
#this is the timestamp data that has been created
generated_data

               waktu_setempat
0   2020-02-01 00:00:00+00:00
1   2020-02-01 01:00:00+00:00
2   2020-02-01 02:00:00+00:00
3   2020-02-01 03:00:00+00:00
4   2020-02-01 04:00:00+00:00
..                        ...
523 2020-02-22 19:00:00+00:00
524 2020-02-22 20:00:00+00:00
525 2020-02-22 21:00:00+00:00
526 2020-02-22 22:00:00+00:00
527 2020-02-22 23:00:00+00:00

[528 rows x 1 columns]

In [40]:
#mencoba mengisi data yang kosong dengan salah satu data train, 
#tanpa mengubah data train-nya terlebih dulu

#a test to try to fill in the blank data with one of the training data, without changing the train data first

test_merge_data = train_data_grouped[0]

merged_data = generated_data.merge(test_merge_data, on='waktu_setempat', how='left')

merged_data

,waktu_setempat,id_jalan,id_titik_mulai,id_titik_akhir,rerata_kecepatan,rute
0,2020-02-01 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN
1,2020-02-01 01:00:00+00:00,691007296,21390008,1425033102,29.126,21390008-1425033102
2,2020-02-01 02:00:00+00:00,691007296,21390008,1425033102,34.772,21390008-1425033102
3,2020-02-01 03:00:00+00:00,691007296,21390008,1425033102,34.161,21390008-1425033102
4,2020-02-01 04:00:00+00:00,691007296,21390008,1425033102,39.383,21390008-1425033102
...,...,...,...,...,...,...
523,2020-02-22 19:00:00+00:00,691007296,21390008,1425033102,17.887,21390008-1425033102
524,2020-02-22 20:00:00+00:00,691007296,21390008,1425033102,17.601,21390008-1425033102
525,2020-02-22 21:00:00+00:00,691007296,21390008,1425033102,14.216,21390008-1425033102
526,2020-02-22 22:00:00+00:00,691007296,21390008,1425033102,18.384,21390008-1425033102
527,2020-02-22 23:00:00+00:00,691007296,21390008,1425033102,19.331,21390008-1425033102

In [45]:
#mengisi data kosong menggunakan ffill dan bfill
#fill empty data using ffill and bfill

merged_data['rerata_kecepatan'] = merged_data['rerata_kecepatan'].fillna(method='ffill')
merged_data['rerata_kecepatan'] = merged_data['rerata_kecepatan'].fillna(method='bfill')

merged_data['id_jalan'] = merged_data['id_jalan'].fillna(method='ffill')
merged_data['id_jalan'] = merged_data['id_jalan'].fillna(method='bfill')

merged_data['id_titik_mulai'] = merged_data['id_titik_mulai'].fillna(method='ffill')
merged_data['id_titik_mulai'] = merged_data['id_titik_mulai'].fillna(method='bfill')

merged_data['id_titik_akhir'] = merged_data['id_titik_akhir'].fillna(method='ffill')
merged_data['id_titik_akhir'] = merged_data['id_titik_akhir'].fillna(method='bfill')

merged_data

,waktu_setempat,id_jalan,id_titik_mulai,id_titik_akhir,rerata_kecepatan,rute
0,2020-02-01 00:00:00+00:00,691007296,21390008,1425033102,29.126,NaN
1,2020-02-01 01:00:00+00:00,691007296,21390008,1425033102,29.126,21390008-1425033102
2,2020-02-01 02:00:00+00:00,691007296,21390008,1425033102,34.772,21390008-1425033102
3,2020-02-01 03:00:00+00:00,691007296,21390008,1425033102,34.161,21390008-1425033102
4,2020-02-01 04:00:00+00:00,691007296,21390008,1425033102,39.383,21390008-1425033102
...,...,...,...,...,...,...
523,2020-02-22 19:00:00+00:00,691007296,21390008,1425033102,17.887,21390008-1425033102
524,2020-02-22 20:00:00+00:00,691007296,21390008,1425033102,17.601,21390008-1425033102
525,2020-02-22 21:00:00+00:00,691007296,21390008,1425033102,14.216,21390008-1425033102
526,2020-02-22 22:00:00+00:00,691007296,21390008,1425033102,18.384,21390008-1425033102
527,2020-02-22 23:00:00+00:00,691007296,21390008,1425033102,19.331,21390008-1425033102

In [46]:
#dan sudah tidak ada data yang kosong pada tabel, 
#horeeeeee

#no more empty data in the table,
#hooray

merged_data.isna().sum()

waktu_setempat       0
id_jalan             0
id_titik_mulai       0
id_titik_akhir       0
rerata_kecepatan     0
rute                58
dtype: int64

In [60]:
#melakukan prosedur pengisian data pada train_data dan test_data

#train_data
sum = 0
train_data_filled = []
for data in train_data_grouped:
    
    #rute = data['rute'].unique()
    merged_data = generated_data.merge(data, on='waktu_setempat', how='left')
    
    merged_data['rerata_kecepatan'] = merged_data['rerata_kecepatan'].fillna(method='ffill')
    merged_data['rerata_kecepatan'] = merged_data['rerata_kecepatan'].fillna(method='bfill')

    merged_data['id_jalan'] = merged_data['id_jalan'].fillna(method='ffill')
    merged_data['id_jalan'] = merged_data['id_jalan'].fillna(method='bfill')

    merged_data['id_titik_mulai'] = merged_data['id_titik_mulai'].fillna(method='ffill')
    merged_data['id_titik_mulai'] = merged_data['id_titik_mulai'].fillna(method='bfill')
    
    merged_data['id_titik_akhir'] = merged_data['id_titik_akhir'].fillna(method='ffill')
    merged_data['id_titik_akhir'] = merged_data['id_titik_akhir'].fillna(method='bfill')
    
    merged_data['rute'] = merged_data['rute'].fillna(method='ffill')
    merged_data['rute'] = merged_data['rute'].fillna(method='bfill')
    
    #print(f'data yang kosong untuk rute {rute} sudah diisi')
    train_data_filled.append(merged_data)
    sum += 1
    
print(f'ada {sum} tabel yang sudah diisi')

ada 934 tabel yang sudah diisi

In [61]:
#Cek salah satu data
#Check one of the data

train_data_filled[933]

#everything looks ok

,waktu_setempat,id_jalan,id_titik_mulai,id_titik_akhir,rerata_kecepatan,rute
0,2020-02-01 00:00:00+00:00,24704286,130234354,1578999260,39.610,130234354-1578999260
1,2020-02-01 01:00:00+00:00,24704286,130234354,1578999260,39.610,130234354-1578999260
2,2020-02-01 02:00:00+00:00,24704286,130234354,1578999260,39.610,130234354-1578999260
3,2020-02-01 03:00:00+00:00,24704286,130234354,1578999260,39.041,130234354-1578999260
4,2020-02-01 04:00:00+00:00,24704286,130234354,1578999260,47.647,130234354-1578999260
...,...,...,...,...,...,...
523,2020-02-22 19:00:00+00:00,24704286,130234354,1578999260,31.028,130234354-1578999260
524,2020-02-22 20:00:00+00:00,24704286,130234354,1578999260,32.845,130234354-1578999260
525,2020-02-22 21:00:00+00:00,24704286,130234354,1578999260,32.845,130234354-1578999260
526,2020-02-22 22:00:00+00:00,24704286,130234354,1578999260,35.673,130234354-1578999260
527,2020-02-22 23:00:00+00:00,24704286,130234354,1578999260,29.647,130234354-1578999260

In [64]:
#gabungkan semua data menjadi 1 tabel DataFrame
#combine all data into 1 DataFrame table

train_data_ready = pd.concat(train_data_filled, axis=0, ignore_index=True)
train_data_ready

,waktu_setempat,id_jalan,id_titik_mulai,id_titik_akhir,rerata_kecepatan,rute
0,2020-02-01 00:00:00+00:00,691007296,21390008,1425033102,29.126,21390008-1425033102
1,2020-02-01 01:00:00+00:00,691007296,21390008,1425033102,29.126,21390008-1425033102
2,2020-02-01 02:00:00+00:00,691007296,21390008,1425033102,34.772,21390008-1425033102
3,2020-02-01 03:00:00+00:00,691007296,21390008,1425033102,34.161,21390008-1425033102
4,2020-02-01 04:00:00+00:00,691007296,21390008,1425033102,39.383,21390008-1425033102
...,...,...,...,...,...,...
493147,2020-02-22 19:00:00+00:00,24704286,130234354,1578999260,31.028,130234354-1578999260
493148,2020-02-22 20:00:00+00:00,24704286,130234354,1578999260,32.845,130234354-1578999260
493149,2020-02-22 21:00:00+00:00,24704286,130234354,1578999260,32.845,130234354-1578999260
493150,2020-02-22 22:00:00+00:00,24704286,130234354,1578999260,35.673,130234354-1578999260
493151,2020-02-22 23:00:00+00:00,24704286,130234354,1578999260,29.647,130234354-1578999260

In [65]:
#export data yang sudah di preprocess menjadi file csv
#export preprocessed data into a csv file 
train_data_ready.to_csv('output_file.csv', index=False)

In [69]:
train_data_ready.isna().sum()

waktu_setempat      0
id_jalan            0
id_titik_mulai      0
id_titik_akhir      0
rerata_kecepatan    0
rute                0
dtype: int64

In [71]:
train_data.duplicated().sum()

0